/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

code::selection {
  background: #71a95a;
  color: #c3f0ca;
}

.panel {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background-color: rgba(43, 142, 140, 0.7);
  transition: all 0.5s ease-in;
  transform: translate3d(-100%, 0, 0);
}

.is-visible .panel {
  transform: translate3d(0, 0, 0);
}

.push-container {
  transition: all 0.5s ease-in;
  transform: translate3d(0, 0, 0);
}

.is-visible .push-container {
  transform: translate3d(150px, 0, 0);
}

.header {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 2em;
  font-weight: 800;
  color: #edf2f7;
}

.header span {
  color: #497a7b;
}
